# This is a basic workflow to help you get started with Actions

name: CI-Manual Inputs

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      envn: 
        description: 'name of env'
        required: true
        default: AstraZenecaTest
      branch:
        description: 'name of Branch'
        required: true
        default: main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: CheckOut
          uses: actions/checkout@v3
          
        - name: Run Deployment
          env:
            token: ${{secrets.AUTHVALUE}}
            branch: heads/${{github.event.inputs.branch}}
            url: https://elastic.snaplogic.com/api/1/rest/public/project/checkout/${{github.event.inputs.envn}}/projects/SOA_MIGRATION
            data1: '{"repo": "parthiban-az/GitAction_Test", "ref": $branch, "hard_reset": false, "discard_untracked_file" : false}'
            run: |
              echo $url
            

                          
              
