# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: CheckOut
        uses: actions/checkout@v3

      - name: make call to Public API
        uses: fjogeleit/http-request-action@v1
        with: 
          url: 'https://elastic.snaplogic.com/api/1/rest/public/project/checkout/AstraZeneca/projects/parthiban%2520selvam'
          method: POST
          customHeaders: '{"Content-Type": "application/json", "Authorization": "Basic cGFydGhpYmFuLnNlbHZhbUBhc3RyYXplbmVjYS5jb206V2VsY29tZUAxMjM="}'
          data: '{"repo": "/parthiban-az/GitAction_Test", "ref": "heads/main", "hard_reset": "true", "discard_untracked_file" : "true"}'
          timeout: '30000'
      


